/* impoting of google fonts */
@import url('https://fonts.googleapis.com/css2?family=Julee&family=Poppins:wght@100;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-family: poppins;
    font-size: 30px;
}

#special{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    padding: 0;
}

.nav-link{
    color: black !important;
    font-size: 20px;
    transition: 0.3s;
}

.nav-link:hover{
    color: white !important;
    font-size: 22px;
 }

.nav-link:after{
    text-decoration: underline;
    width: 10px;
}

.container{
    background-color: rgb(222, 245, 176);
}

h1{
    text-decoration: underline;
}