*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
}

/* Navbar css start */

.mainnavbar{
    box-shadow: 1px 1px 51px 1px rgb(189, 101, 18) !important;
}

.navbar-brand{
    font-family: tangerine;
    font-size: 200%;
    font-weight: 800;
}

.nav-link{
    font-size: 20px;
    text-align: center !important;
    position: relative;
    padding: 5px 0px;
    color: rgb(0, 0, 0) !important;
}

.nav-link:hover{
    color: rgb(189, 101, 18) !important;
}

.nav-link:after{
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    background: rgb(189, 101, 18);
    transition: 0.3s;
    bottom: 0;
}

.nav-link:hover:after{
    width: 100%;
}

/* Page end icons CSS */

.lasticons{
    padding: 1%;
}

#navbarNav{
    justify-content: center !important;
}


.loginbtn{
    font-size: 20px;
    border: 5px;
    box-shadow: 1px 1px 5px 1px rgb(189, 101, 18);
    position: relative;
}

.loginbtn:hover{
    color: rgb(0, 0, 0);   
    background-color: rgb(189, 101, 18);
    box-shadow: 1px 1px 20px 1px black;
}

/* Navbar CSS End */

/* Main page css start */

#rooms, #features{
    font-size: 30px;
    padding: 20px 0px;
    text-decoration: underline;
}



